# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars.json
crash.log
*.tfplan

# Kubernetes
kubeconfig

# Python/Node/General
__pycache__/
*.pyc
node_modules/
.env

# Helm
charts/*.tgz

# Local files
*.log
.DS_Store
