global:
  azure:
    subscriptionId: ""
    tenantId: ""
    resourceGroup: "adl-dev-rg"
    aksClusterName: "adl-dev-aks"
    keyVaultName: "adl-dev-kv"
    queryApiClientId: ""
    aiQaClientId: ""
    pipelineClientId: ""
    scraperClientId: ""
    storageAccount: ""
    blobContainer: "datalake"
    blobPrefixRaw: "raw"
    blobPrefixClean: "clean"
    blobPrefixCurated: "curated"
  images:
    registry: ""
    queryApi: { repository: "query-api-service", tag: "latest" }
    aiQa: { repository: "ai-qa-service", tag: "latest" }
    pipeline: { repository: "pipeline-runner", tag: "latest" }
  ingress:
    host: ""
    tlsSecretName: ""

queryApi:
  replicaCount: 2
  apiAuthSecretName: "API_AUTH_TOKEN"
  service:
    port: 8000
  resources:
    requests:
      cpu: "300m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

aiQa:
  replicaCount: 2
  queryApiUrl: "http://query-api.adl-platform.svc.cluster.local:8000"
  service:
    port: 8001
  resources:
    requests:
      cpu: "200m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

pipeline:
  schedule: "0 * * * *"
  concurrencyPolicy: Forbid
  backoffLimit: 3
  runMode: batch
  logLevel: INFO
  startingDeadlineSeconds: 300
  activeDeadlineSeconds: 1800
  ttlSecondsAfterFinished: 86400
  resources:
    requests:
      cpu: "200m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

secretProviderClass:
  tenantId: ""
  keyVaultName: ""
  objects: |
    array:
      - |
        objectName: API_AUTH_TOKEN
        objectType: secret
        objectVersion: ""

scraper:
  enabled: false
  schedule: "0 * * * *"
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 300
  backoffLimit: 2
  activeDeadlineSeconds: 1800
  ttlSecondsAfterFinished: 86400
  image:
    repository: "scraper-service"
    tag: "latest"
  modelProvider: "openai"
  targetUrls: []
  extraEnv: []
  resources:
    requests:
      cpu: "200m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  secretProviderClass:
    name: scraper-kv-spc
    objects: |
      array:
        - |
          objectName: OPENAI_API_KEY
          objectType: secret
          objectVersion: ""
        - |
          objectName: DEEPSEEK_API_KEY
          objectType: secret
          objectVersion: ""
        - |
          objectName: XAI_API_KEY
          objectType: secret
          objectVersion: ""
        - |
          objectName: HTTP_PROXY
          objectType: secret
          objectVersion: ""
        - |
          objectName: HTTPS_PROXY
          objectType: secret
          objectVersion: ""
